.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.home .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  height: 100vh;
  cursor: default;
}

.home .intro span {
  font-size: 2.5rem;
  color: #00bcd4;
  max-width: 80vw;
}

.home .intro .down-arrow {
  font-size: 2rem;
  color: #00bcd4;
  margin-top: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #444;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: absolute;
  bottom: 75px;
}

.home .intro .scroll-blog {
  bottom: 150px;
  height: 50px;
  border-radius: 30px;
  padding: 0 20px;
  width: auto;
}

.home .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: auto;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  min-height: 100vh;
  width: 85vw;
  text-align: center;
}

.home .about img {
  max-width: 600px;
  min-width: 100px;
  height: auto;
  border-radius: 50%;
}

.home .about h1 {
  max-width: 900px;
  margin-bottom: 2rem;
}

.home .about p {
  margin-left: 1rem;
  max-width: 900px;
}

.home .about span {
  color: #00bcd4;
}

.home .skills {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 900px;
  gap: 10px;
}

.home .skills h1 {
  margin-top: 60px;
}

.home .skills .skills-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .skills .skills-container .skill {
  background-color: #444;
  max-width: 20vw;
  max-height: 20vw;
  padding: 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.home .skills .skills-container .skill h4 {
  font-size: 1rem;
  font-weight: 500;
  color: #eaeaea;
  margin: 0;
}

.home .skills .skills-container .skill img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: contain;
     object-fit: contain;
  width: 50px;
  height: 50px;
}

.home .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  padding: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
  gap: 10px;
}

.home .portfolio .portfolio-header {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .portfolio .portfolio-header ul {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.home .portfolio .portfolio-header ul li {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 50px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.home .portfolio .portfolio-header ul li.active {
  background-color: #1989eb;
}

.home .portfolio .portfolio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  max-width: 1100px;
  width: 100%;
  overflow-x: auto;
}

.home .portfolio .portfolio-content .portfolio-item {
  background-color: #444;
  max-width: 50vw;
  width: 100%;
  min-width: 200px;
  padding: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .portfolio .portfolio-content .portfolio-item .portfolio-item-content {
  gap: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .portfolio .portfolio-content .portfolio-item .portfolio-item-content img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0;
  width: 100%;
  border-radius: 10px;
  height: auto;
}

.home .portfolio .portfolio-content .portfolio-item .portfolio-item-content h3 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #eaeaea;
  margin: 0;
}

.home .portfolio .portfolio-content .portfolio-item .portfolio-item-content p {
  color: #eaeaea;
  margin: 0;
}

.home .portfolio .portfolio-content .portfolio-item .portfolio-item-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
  width: 100%;
}

.home .portfolio .portfolio-content .portfolio-item .portfolio-item-links a {
  color: #eaeaea;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.home .portfolio .portfolio-content .portfolio-item .portfolio-item-links a.demo-link {
  color: #00bcd4;
}

.home .portfolio .portfolio-content .portfolio-item .portfolio-item-links a.demo-link:hover {
  text-decoration: underline;
}

.home .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
}

.home .contact .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2vw;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  width: 100%;
  overflow: auto;
  margin-top: 1rem;
}

.home .contact .contact-content .contact-item {
  background-color: #444;
  max-width: 20vw;
  max-height: 20vw;
  padding: 15px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.home .contact .contact-content .contact-item h4 {
  font-size: 1rem;
  font-weight: 500;
  color: #eaeaea;
  margin: 0;
}

.home .contact .contact-content .contact-item a {
  color: #eaeaea;
  text-decoration: none;
}

.home .contact .contact-content .contact-item img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: contain;
     object-fit: contain;
  width: 50px;
  height: 50px;
}

.home .blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
}

.home .blog .blog-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.home .blog .blog-header a {
  color: #eaeaea;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-left: auto;
  margin-right: auto;
}

.home .blog .blog-header a:hover {
  text-decoration: underline;
}

.home .blog .blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.home .blog .blog-content .blog-post {
  color: #eaeaea;
  background-color: #444;
  width: 200px;
  height: auto;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 20px;
}

.home .blog .blog-content .blog-post h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #eaeaea;
  margin: 0;
}

.home .blog .blog-content .blog-post p {
  color: #eaeaea;
  opacity: 0.8;
  margin: 0;
}

.home .blog .blog-content .blog-post img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.home .footer {
  width: 100vw;
  /* Animation */
  /*Shrinking for mobile*/
}

.home .footer .waves {
  position: relative;
  width: 100%;
  height: 15vh;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.home .footer .parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.home .footer .parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  color: #444;
  opacity: 0.3;
}

.home .footer .parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
  color: #555;
  opacity: 0.3;
}

.home .footer .parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
  color: #666;
  opacity: 0.3;
}

.home .footer .parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 23s;
          animation-duration: 23s;
  color: #777;
  opacity: 0.3;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .home .footer .waves {
    height: 40px;
    min-height: 40px;
  }
}
/*# sourceMappingURL=styles.css.map */