* {
    padding: 0;
    margin: 0;
}
    .categories {
        display: flex;
        flex-direction: column;
        gap: 12px;
        h4 {
            font-size: 1.25rem;
            font-weight: 600;
        }
        ul {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            span {
                background-color: #444;
                border-radius: 999px;
                padding: 6px 16px;
                padding-right: 6px;
                display: flex;
                white-space: nowrap;
                gap: 8px;
                align-items: center;
                justify-content: space-between;
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: transparent;
                    cursor: pointer;
                    outline: none;
                    border: 0;
                    border-radius: 999px;
                    color: #eaeaea;
                    fill: #eaeaea;
                    &:hover {
                        background-color: #666;
                    }
                }
            }
        }
        form {
            display: flex;
            gap: 12px;
        
            input {
                width: calc(100% - 24px);
            }
        }
    }