.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 20px;
    width: 100vw;
    .blog-header{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
        justify-content: center;
        width: 100%;
        a {
            color: #eaeaea;
            text-decoration: none;
            transition: all 0.2s ease-in-out;
            margin-left: auto;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .blog-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
        .blog-post {
            color: #eaeaea;
            background-color: #444;
            width: 200px;
            height: auto;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 20px;
            h3 {
                font-size: 1.5rem;
                font-weight: 500;
                color: #eaeaea;
                margin: 0;
            }

            p {
                color: #eaeaea;
                opacity: 0.8;
                margin: 0;
            }

            img {
                display: flex;
                align-items: center;
                justify-content: center;
                object-fit: contain;
                border-radius: 8px;
                aspect-ratio: 16/9;
                object-fit: cover;

                width: 100%;
                height: auto;
            }
        }
    }
}

.no-blog {
    text-align: center;
}