.App {
    a {
        text-decoration: none;
    }
    background-color: #333;
    color: #eaeaea;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    width: 100%;

    .article {
        scroll-snap-align: start;
        text-align: center;
    }

    .home {
        
            .intro {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;
                text-align: center;
                font-size: 2rem;
                font-weight: 300;
                height: 100vh;
                cursor: default;
                span {
                    font-size: 2.5rem;
                    color: #00bcd4;
                }
                .down-arrow {
                    font-size: 2rem;
                    color: #00bcd4;
                    margin-top: 1rem;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: #444;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    position: absolute;
                    bottom: 75px;
                }
                .scroll-blog {
                    bottom: 150px;
                    height: 50px;
                    border-radius: 30px;
                    padding: 0 20px;
                    width: auto;
                }
            }
        
            .about {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2rem;
                font-size: 1.5rem;
                font-weight: 300;
                height: 100vh;
                img {
                    width: 500px;
                    height: auto;
                    border-radius: 50%;
                    margin-right: 50px;
                }
                p {
                    margin-left: 1rem;
                    max-width: 600px;
                }
                span {
                    color: #00bcd4;
                }
            }
        
            .skills {
                text-align: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                .skills-container {
                    display: grid;
                    text-align: center;
                    grid-template-columns: repeat(8, 100px);
                    grid-gap: 1rem;
                    margin-bottom: 2rem;
                    font-size: 1.5rem;
                    font-weight: 300;
                    .skill {
                        background-color: #444;
                        width: 100px;
                        height: 100px;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        h4 {
                            font-size: 1rem;
                            font-weight: 500;
                            color: #eaeaea;
                            margin: 0;
                        }
        
                        img {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            object-fit: contain;
        
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        
            .portfolio {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;
                .portfolio-header {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
        
                    ul {
                        padding: 0;
                        list-style: none;
                        display: flex;
                        gap: 10px;
                        li {
                            cursor: pointer;
                            padding: 8px 16px;
                            border-radius: 50px;
                            transition: all 0.2s ease-in-out;
                            &.active {
                                background-color: #1989eb;
                            }
                        }
                    }
                }
                .portfolio-content {
                    display: flex;
                    gap: 1rem;
                    max-width: 1000px;
                    .portfolio-item {
                        background-color: #444;
                        max-width: 200px;
                        width: 100%;
                        padding: 20px;
                        border-radius: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        .portfolio-item-content {
                            gap: 10px;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            img {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                object-fit: contain;
            
                                padding: 0;
                                width: 100%;
                                border-radius: 10px;
                                height: auto;
                            }
                            h3 {
                                font-size: 1.3rem;
                                font-weight: 500;
                                color: #eaeaea;
                                margin: 0;
                            }                
                            p {
                                color: #eaeaea;
                                margin: 0;
                            }
                        }
                        .portfolio-item-links {
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            gap: 10px;
                            width: 100%;
                            a {
                                color: #eaeaea;
                                text-decoration: none;
                                transition: all 0.2s ease-in-out;
                                &.demo-link {
                                    color: #00bcd4;
                                    &:hover {
                                        text-decoration: underline;
                                    }
        
                                }
                            }
                        }
        
                    }
                }
            }
        
            .contact {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;
        
                .contact-content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    margin-bottom: 2rem;
                    font-size: 1.5rem;
                    font-weight: 300;
                    .contact-item {
                        background-color: #444;
                        width: 100px;
                        height: 100px;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        h4 {
                            font-size: 1rem;
                            font-weight: 500;
                            color: #eaeaea;
                            margin: 0;
                        }
        
                        a {
                            color: #eaeaea;
                            text-decoration: none;
                        }
        
                        img {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            object-fit: contain;
        
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        
            .blog {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;
                .blog-content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    margin-bottom: 2rem;
                    .blog-post {
                        color: #eaeaea;
                        background-color: #444;
                        width: 200px;
                        height: auto;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        padding: 20px;
                        h3 {
                            font-size: 1.5rem;
                            font-weight: 500;
                            color: #eaeaea;
                            margin: 0;
                        }
        
                        p {
                            color: #eaeaea;
                            opacity: 0.8;
                            margin: 0;
                        }
        
                        img {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            object-fit: contain;
                            border-radius: 10px;
        
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }

    }

    .blog-page {
        width: 100%;
        .top{
            padding: 20px;
            position: fixed;
            height: 100px;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            .back-arrow {
                color: #00bcd4;
                width: 50px;
                height: 50px;
                border-radius: 50%;

    
                background-color: #444;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
        main {
            padding: 20px;
            display: flex;
            justify-content: center;
            gap: 1rem;
            .blog-content {
                img {
                    width: 100%;
                    height: auto;
            }
                max-width: 900px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                p {
                    text-align: left;
                }
                
            }
            aside {
                display:flex ;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                text-align: center;
                gap: 1rem;
                padding: 20px;
                height: auto;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 1rem;
                            color: #eaeaea;
                            h3, p {
                                margin: 0;
                            }
                            margin: 20px 0;
                            padding: 16px 32px;
                            &:hover {
                                background-color: #444;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}